<p>
  <strong>User Info:</strong>
  
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email Address: <%= @user.email %></p>
  <p>House Allegiance: <%= @user.house_allegiance %>
  <p>Favorite Book: <%= @user.favorite_book %>
  <p>Bio: <%= @user.bio %>
  <p>Favorite Quote: <%= @user.favorite_quote %></p>
</p>
<p> <%= link_to "Home", home_index_path %> </p>
