<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @story.category %>
<p>
  <strong>Upvotes:</strong>
  <%= @story.upvotes %>
<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>
<%= link_to "Back", root_path %>
