<p>
  <strong>Title:</strong>
  <%= link_to @story.title, @story.link %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @story.category %>
<p>
  <strong>Upvotes:</strong>
  <%= @story.upvotes %>
<p>
  <strong>Link:</strong>
  <%= link_to @story.link, @story.link %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @story.created_at %>
</p>
<%= link_to "Back", root_path %>
