<hl>Welcome to Rewsly! It will get interesting, I swear</h1>
<%= render 'search' %>
<%= link_to "Add New Story", new_story_path %>
<%= link_to "Add New Source", new_source_path %>
<%= link_to "View Stories By Category", categories_path %>
<%= render "list" %>
