<p>
  <strong>Title:</strong>
  <%= link_to @story.title, @story.link %>
</p>

  <strong>Upvotes:</strong>
  <%= @story.upvotes %>
<p>
  <strong>Link:</strong>
  <%= link_to @story.link, @story.link %>
</p>
<p>
  Tags:	<% @story.tag_list.each do |tgs| %>
		<%= link_to tgs, category_path(:tgs => tgs) %>
        <% end %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @story.created_at %>
</p>
<%= link_to "Edit Story", edit_story_path(@story) %>
<%= link_to "Home", root_path %>
